F@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,400italic,600,700,800,900);

body{
	font-family: 'Raleway', sans-serif;
	}
a, a:hover, a:focus{text-decoration:none; outline:none;}
a, button{
    -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
}
h1, h2, h3, h4, h5, h6, p{ padding:0; margin:0;}

.form-control:focus {
    border-color: #0d0d0d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(13, 13, 13, 0.6);
    outline: 0 none;
}


.navbar .nav {margin-top: 82px;}

.navbar .nav a{font-family: 'Raleway', sans-serif; font-size: 22px; color: #000; font-weight: 600; -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
 margin: 0 15px;}

.nav > li > a:focus, .nav > li > a:hover{ background-color: transparent; color: #e40014;}
.navbar-header {
    height: 220px;
}
.nav .form-inline.menu-search {
    margin: 10px 15px 10px 0;
    position: relative;
}
.nav .form-inline.menu-search button {
    background-color: transparent;
    border: 0 none;
    margin-left: -31px;
    margin-top: 2px;
    position: absolute;
    display: none;
    right: -6px;
    top: 0;
}
.nav .menu-search input {
    border: 0 none;
    border-bottom: 1px solid transparent;
    background-image: url(../images/menu-srch.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 19px auto;
    width: 30px;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
     -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;  
    cursor: pointer;
}
.nav.navbar-nav.navbar-right > li:last-child {
    padding-left: 40px;
}

.nav .menu-search input:focus {
    background-image: none;
    border-bottom: 1px solid #e40014;
    border-radius: 0;
    box-shadow: none;
    cursor: text;
    outline: 0 none;
    width: 180px;
}
.nav .menu-search input + button { font-size: 20px; font-weight: 400; color:#7D7C7B;}
.nav .menu-search input:focus + button {
    background-color: transparent;
    border: 0 none;
    display: block;
}


.banner {
    display: inline-block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/mount-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner img {
    right: -160px;
    max-width: 900px;
    position: absolute;
    top: -60px;
}
.banner-content {
    padding: 142px 0 466px;
}
.banner h1 {
    color: #000;
    display: inline-block;
    font-size: 89px;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 72px;
    text-transform: uppercase;
}
.banner h1 b {
    color: #e40014;
    font-weight: 900;
}
.banner h1 span {
    color: #000;
    font-size: 56px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 49px;
}
.banner h1 span b{
    text-transform: lowercase;
    font-weight: 400;
    color:#000;    
}

.banner a {
    border-bottom: 2px solid #e40014;
    border-radius: 25px;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
    max-width: 460px;
    padding: 15px 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#373737+0,010101+100 */
background: #373737; /* Old browsers */
background: -moz-linear-gradient(top,  #373737 0%, #010101 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #373737 0%,#010101 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #373737 0%,#010101 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#010101',GradientType=0 ); /* IE6-9 */
    
     -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3.s ease-in-out;

}
.banner a::after {
    background-image: url("../images/baner-arow.png");
    content: "";
    cursor: auto;
    height: 145px;
    position: absolute;
    right: -130px;
    top: -100px;
    width: 100px;
}
.banner a:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010101+0,373737+100,373737+100 */
background: #010101; /* Old browsers */
background: -moz-linear-gradient(top,  #010101 0%, #373737 100%, #373737 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #010101 0%,#373737 100%,#373737 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #010101 0%,#373737 100%,#373737 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010101', endColorstr='#373737',GradientType=0 ); /* IE6-9 */

}


.box-section {
    display: inline-block;
    margin-top: -227px;
    width: 100%;
}

.red-box {
    background-color: #e40014;
    height: 436px;
    margin-bottom: 82px;
    position: relative;
}
.red-box h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-left: 26px;
    padding-top: 72px;
    position: relative;
    z-index: 3;
}
.red-box h2::after {background-color: #89000c; bottom: -24px; content: ""; height: 2px; left: 0; position: absolute; width: 110px;}

.red-box p { color: #fff;  font-size: 18px; margin-left: 26px; margin-top: 60px; max-width: 350px;}

.red-box a {background: #2f2f2f; bottom: 0; color: #fff; display: block; font-size: 30px; font-weight: 900; padding: 23px 26px; position: absolute; text-transform: uppercase; width: 100%; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3.s ease-in-out;}

.red-box a::after {
    background-image: url("../images/box-link-arow.png");
    background-repeat: no-repeat;
    content: "";
    height: 50px;
    margin-left: 14px;
    position: absolute;
    top: 34px;
    width: 100px;
}

.red-box a:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9e0210+0,c00011+100 */
background: #9e0210; /* Old browsers */
background: -moz-linear-gradient(top,  #9e0210 0%, #c00011 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9e0210 0%,#c00011 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9e0210 0%,#c00011 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0210', endColorstr='#c00011',GradientType=0 ); /* IE6-9 */
}

.red-box > img {
    bottom: 0;
    position: absolute;
    right: 15px;
    z-index: 2;
}




.why-us h1 {
    color: #2f2f2f;
    font-size: 50px;
    margin-top: 15px;
    text-align: center;
    position: relative;
}
.why-us h1::after {
    background-color: #e40014;
    bottom: -24px;
    content: "";
    height: 1px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 215px;
}
.why-us p{
    color: #2f2f2f;
    font-size: 18px;
    margin-top: 75px;
    text-align: center;
}
.why-us a {
    background-color: #e40014;
    border: 4px solid #fff;
    box-shadow: 0 0 0 1px #e40014;
    color: #fff;
    display: block;
    font-size: 20px;
    margin: 1px auto 20px;
    max-width: 352px;
    padding: 26px;
    position: relative;
    text-align: center;
    top: -50px;
     -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3.s ease-in-out;
}
.why-us a:hover{
    background-color: #2f2f2f;
    border: 4px solid #fff;
    box-shadow: 0 0 0 1px #2f2f2f;
    color: #fff;
}

.why-us a i {
    color: #ff8691;
    margin-left: 10px;
    -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3.s ease-in-out;
}
.why-us a:hover i{
    color: #444;
}




.news-n.-test {
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top;
}
.left-part {
    position: absolute;
    width: 50%;
    left: 0;
    background-color: #ececec;
}
.left-part > img {
    margin-top: -70px;
}
.right-part {
    background-color: #e40014;
    height: 100%;
    position: absolute;
    right: 0;
    width: 50%;
}

.testimonial-main h2, .news-main h2 {
    font-size: 50px;
    font-weight: 900;
    margin-top: 57px;
    margin-left: 60px;
    text-transform: uppercase;
}
.testimonial-main p {
    color: #3a3a3a;
    font-size: 18px;
    line-height: 36px;
    margin-left: 60px;
    margin-top: 30px;
}
.testimonial-main span {
    color: #3a3a3a;
    display: block;
    font-size: 20px;
    line-height: 36px;
    margin-left: 60px;
    margin-top: 35px;
}
.news-main ul {
    list-style-type: none;
    padding-left: 60px;
}
.news-main li::before {
    color: #9a000e;
    content: "";
    font-family: fontawesome;
    font-size: 27px;
    left: 0;
    position: absolute;
}
.news-main ul li {
    margin-top: 20px;
    max-width: 430px;
    padding-left: 35px;
    position: relative;
}
.news-main ul li a {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.news-main ul li a:hover {
    color:#9a000e;
}

.video-slider a {
    background-color: #e40014;
    color: #fff;
    display: inline-block;
    font-size: 40px;
    font-weight: 800;
    padding: 10px;
    text-transform: uppercase;
}
.video-slider a:hover{
    color: #0d0d0d;
}
.find {
    background-image: url("../images/above-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 75px;
}
.find form label {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}
.find form input[type="text"] {
    border-radius: 0;
    height: 88px;
    margin-left: 50px;
    width: 440px;
    font-size: 20px;
}
.find form input[type="text"]::-webkit-input-placeholder,
.find form input[type="text"]::-moz-placeholder,
.find form input[type="text"]:-ms-input-placeholder,
.find form input[type="text"]:-moz-placeholder{
    color:#6d6d6d;
    font-size: 20px;
    opacity: 1;
}
.find form button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ccc #ccc #ccc -moz-use-text-color;
    border-image: none;
    border-radius: 0;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    display: inline-block;
    height: 88px;
    vertical-align: top;
    width: 80px;
    color: #e40014;
    font-size: 18px;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
}
.find form button span{
    width: 160px;
    display: block;
    transform: translate(-90px, 0);
    -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
}
.find form span i {
    margin: 0 29px;
}
    .find form button:hover span{
        transform: translate(-10px, 0);
        -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
    }
    /*.find form button span:before{
        content: "\f178";
        font-family: fontawesome;
        color:#e40014;
        margin-top: 1px;
        position: absolute;
     }*/

.testimonial-main h2{ color:#e40014; }
.news-main h2 { color:#fff;}




footer {
    background-color: #161616;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
footer ul{
    display: inline-block;
    padding: 0;
}
footer ul li {
    float: left;
    list-style-type: none;
    margin: 74px 26px;
}
footer ul li a{
    color: #6d6d6d;
    font-size: 20px;
}
.copy-rgt {
    background-color: #0d0d0d;
    bottom: 0;
    /*max-height: 60px;*/
    padding: 15px 0;
    position: relative;
    width: 100%;
    color: #6d6d6d;
}


.copy-rgt ul {
    float: right;
    padding: 0;
    margin: 5px 0;
}
.copy-rgt ul li {
    border: 1px solid;
    border-radius: 3px;
    height: 50px;
    margin: 0 1px;
    overflow: hidden;
    width: 50px;
}
footer .copy-rgt ul li a {
    font-size: 30px;
    padding: 5px;
}
.foot-logo {
    bottom: -55px;
    position: absolute;
    left: 0;
    right: 0;
}

footer ul {
    display: inline-block;
    padding: 0 0 35px;
}
footer a:hover{
    color: #e40014;
}
footer .copy-rgt ul li a{
    display: block;
}
footer .copy-rgt ul li:hover a{ color: #e40014;}
footer .copy-rgt ul li:hover{
    border-color: #e40014;
}

.copy-rgt p {
    margin-top: 20px;
    margin-bottom: 10px;
}




/*============================================ Kids B'day Page ============================================*/
.inner-banner{
    
}
.kids-b{
    background-image: url(../images/kids-b-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
}
.kids-b h1 {
    color: #fff;
    font-size: 54px;
    font-weight: 500;
    line-height: 81px;
    padding-top: 154px;
    text-align: center;
    text-transform: uppercase;
}


.kid-b-odd{ background-color: #fff;}
.kid-b-even{ background-color: #f7f7f7;}
.kid-b-odd h2, .kid-b-even h2{ font-size: 50px; font-weight: 900; color:#e40014; line-height: 64px;}

.party {padding: 90px 0; position: relative;}
.party:before{ background-image: url("../images/party-before.png"); content: ""; height: 230px; left: 0; position: absolute; width: 125px; bottom:100px;}
.party:after{ background-image: url("../images/party-after.png"); content: ""; height: 225px; right: 0; position: absolute; width: 125px; bottom:100px;}
.party p{color: #010101; font-size: 19px; margin-top: 25px; line-height: 36px;}

.people-views{padding: 118px 0; text-align: center; position: relative;}

.kid-b-b4 {bottom: 10px; left: 0; position: absolute;}
.kid-b-aftr {position: absolute; right: 0; top: -20px;}


/*.people-views:after{ background-image: url("../images/people-views-after.png"); content: ""; height: 780px; right: 0; position: absolute; width: 235px; top:-20px;}*/
.people-views h2 {margin-bottom: 47px;}
.people-views p{color: #010101; font-size: 19px; line-height: 45px; font-style: italic; padding:0 10px; position: relative; z-index: 2;}
.people-views p::before {color: #b1b1b1; content: ""; font-family: fontawesome; font-size: 25px; margin-right: 5px; z-index: 1;  position: relative;}
.people-views p::after {bottom: -10px; color: #b1b1b1; content: ""; font-family: fontawesome; font-size: 25px; position: relative; z-index: 1;}
.people-views span{color: #e40014; font-size: 19px; line-height: 45px; padding:0 10px; text-transform: capitalize;}


.party-price{ position: relative; display: inline-block; width: 100%; padding: 53px 0; overflow: hidden;}
.party-price:after{ background-image: url("../images/price-after.jpg");bottom: 0; content: ""; height: 680px; position: absolute; right: 0;   width: 660px;}
.party-price p{font-size: 19px; color: #010101; margin-top: 21px;}
.info-price {list-style-type: none; text-align: center; max-width: 720px; margin-top: 15px;}
.info-price li{display: inline-block; font-size: 19px; color: #010101; margin: 20px;}
.info-price li:last-child{margin-left: 120px;}
.info-price li span{display: block; font-weight: 800; color: #e40014;}
.info-price li span i {color: #a7a2a2; margin-right: 5px;}
.price-form {
    background-color: #f7f7f7;
    max-width: 946px;
    box-shadow: 7px 7px 0 #cccccc;
    padding: 46px 0;
    position: relative;
    z-index: 1;
}
.price-form form {
    display: block;
    margin: 0 auto;
    max-width: 707px;
    font-size: 18px;
}
.price-form form input {
    border: 1px solid #bcbcbc !important;
    height: 46px;
}
.price-form form .btn {
    background-color: #f00;
    border: medium none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 46px;
    width: 100%;
}






.find.ready a {
    background-color: #e40014;
    border: 2px solid transparent;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
    padding: 11px;
    width: 336px;
}
.find.ready a:hover{
    background-color: #fff;
    border: 2px solid #e40014;
    color: #e40014;
}
/*============================================ Kids B'day Page ============================================*/


/*============================================ About Page ============================================*/
.about-post {background-color: #f9f9f9; border-bottom: 1px solid #e0e0e0; padding: 65px 0;}
.about-post h2 {color: #ed1c24; font-size: 54px; font-weight: 900; margin: 0 20px; max-width: 820px; text-transform: uppercase; line-height: 72px;}
.about-post .a-post-content {display: inline-block; width: 100%; margin-top: 16px;}
.about-post .a-post-content img {box-shadow: 0px 0px 1px #333; margin: 5px 20px 10px;}
.about-post.odd .a-post-content img {float: left;}
.about-post.even .a-post-content img {float: right;}
.about-post .a-post-content p .p-intro{color: #010101; font-size: 20px; display: block;}
.about-post .a-post-content p {color: #000; font-size: 17px; line-height: 36px; padding: 0 20px;}

.abt-page-form{padding: 75px 0 50px; }
.abt-page-form h1 {color: #ed1c24; font-size: 54px; font-weight: 900; text-align: center; text-transform: uppercase;}
.abt-page-form p {color: #010101; font-size: 23px; line-height: 36px; text-align: center;}


.about-red-box {background-color: #e40014; height: 404px; margin-bottom: 42px; position: relative;}
.about-red-box h2::after { background-color: #89000c; bottom: -24px; content: ""; height: 2px; left: 0; position: absolute; width: 79px;}
.about-red-box h2 {color: #fff; font-size: 40px; font-weight: 700; margin-left: 26px; padding-top: 38px; position: relative; z-index: 3;}
.about-red-box > img {bottom: 0; position: absolute; right: 5px; z-index: 2; max-width:200px; }
.about-red-box .about-side-hov a::after {background-image: url("../images/box-link-arow.png"); background-repeat: no-repeat; background-size: 100% auto; content: ""; height: 19px; margin-left: 14px; position: absolute; top: 28px; width: 37px;}
.about-red-box .about-side-hov {background: #2f2f2f none repeat scroll 0 0; bottom: 0; color: #fff; display: block; position: absolute; text-transform: uppercase; transition: all 0.3s ease-in-out 0s; width: 100%; height: 74px;}
.about-red-box .about-side-hov a{color: #fff; display: block; font-size: 20px; font-weight: 700; padding: 23px 26px; position: absolute; text-transform: uppercase; width: 100%; z-index: 3;}
.about-red-box:nth-child(2) img, .about-red-box:nth-child(3) img {bottom: 74px; right: 0;}

.about-red-box .about-side-hov:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9e0210+0,c00011+100 */
background: #9e0210; /* Old browsers */
background: -moz-linear-gradient(top,  #9e0210 0%, #c00011 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9e0210 0%,#c00011 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9e0210 0%,#c00011 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0210', endColorstr='#c00011',GradientType=0 ); /* IE6-9 */
}



.about-widget-right {display: inline-block; margin-bottom: 38px; width: 100%;}
.widget-rgtside-title {background-color: #ed1c24; color: #fff; font-size: 27px; font-weight: 700; padding: 32px 0; text-align: center; text-transform: uppercase; border-top-left-radius: 3px; border-top-right-radius: 3px;}
.about-widget-body {border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border: 1px solid #d9d9d9; border-top : none;}

.news-post {padding: 0; margin: 0 auto;}
.news-post li {list-style-type: none;}
.news-post li a {color: #262626; display: block; font-size: 18px; font-weight: 500; padding: 26px 15px; line-height: 30px; border-bottom: 1px solid #d9d9d9;}
.news-post li a:hover{background-color: #d9d9d9; color:#ed1c24;}
.news-post li:last-child a{border:none;}
.news-post li a span{font-size:15px; font-weight: 400; display: block; margin-top: 5px;}
.news-post li a span i{margin:0 5px;}
.carousel-control.left, .carousel-control.right{ display: none;}
.about-widget-body .item p {color: #010101; font-size: 18px; font-style: italic; padding: 30px 20px; text-align: center; line-height: 40px;}
.about-widget-body .item p span{ display: block; margin-bottom:10px; font-weight: 700;}
.carousel-indicators li {background-color: #ed1c24; opacity: .22; border-color:#ed1c24; width: 7px; height: 7px; }
.carousel-indicators .active {background-color: #ed1c24; opacity:1; width: 9px; height: 9px;}
.carousel-indicators{ bottom: -4px;}

.divide-half-l {display: inline-block; float: left; vertical-align: top; width: 49%;}
.divide-half-r {display: inline-block; float: right; vertical-align: top; width: 50%;}
.divide-half-r textarea{ width: 100%; resize: none; height: 256px !important; border-radius: 3px; border:2px solid #e6e6e6;}
.abt-page-form form input{ height: 75px; border:2px solid #e6e6e6;}
.abt-page-form form { text-align: center; padding: 30px;}
.abt-page-form form .btn{ font-size: 20px; font-weight: 700; max-width: 459px; padding: 20px; width: 100%; background-color: #ed1c24; color: #fff; display: inline-block; border: 2px solid #ed1c24;}
.form-group-btn{ display: inline-block; width: 100%;}
.form-group-btn .btn:hover{ background-color: #fff; border-color: #ed1c24; color: #ed1c24; }
.abt-location a{
width:430px !important
}




/*============================================ About Page ============================================*/


/*============================================ After School Page ============================================*/
.after-school{
    padding: 20px 0 66px;
}
.after-school .img-holder {
    float: left;
    margin-right: 64px;
    margin-bottom: 15px;
}
.gen-heading{
    color: #e40014;
    font-size: 50px;
    font-weight: 900;
    line-height: 64px;
}
.after-school p {
    color: #010101;
    font-size: 22px;
    line-height: 36px;
    margin-top: 25px;
}

.bg-fade{ background-color: #f6f6f6;}
.school-reg-form{
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 84px 0 45px;
}
.school-reg-form h2 {
     display: inline-block;
    position: relative;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
.school-reg-form form::before {
    background-image: url("../images/after-school-arrow.png");
    content: "";
    height: 160px;
    left: 110px;
    position: absolute;
    top: -179px;
    width: 100px;
}
.school-reg-form form {
    margin: 57px auto;
    position: relative;
}
.school-reg-form form input {
    border: 1px solid #bcbcbc !important;
    height: 65px;
    width: 336px !important;
    color: #838383;
    font-size: 18px;
}
.school-reg-form .form-group {
    margin: 0 15px;
}
.school-reg-form .btn {
    background-color: #e40014;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    height: 65px;
    width: 193px;
    border: 2px solid #e40014;
    margin: 0 15px;
}
.school-reg-form .btn:hover {
    background-color: #fff;
    color: #e40014;
    
}

.best-decision{ padding:90px 0 115px;}
.best-decision .img-holder {
    float: right;
    margin-left: 64px;
    margin-bottom: 15px;
}
.best-decision p {
    color: #010101;
    font-size: 19px;
    line-height: 36px;
    margin-top: 11px;
    margin-bottom: 36px;
}
.author {
    color: #e40014;
    display: block;
    font-weight: 700;
    margin-top: 18px;
}


.experience-section {
    background-color: #f6f6f6;
    padding: 80px 0 0;
}

.experience-section .img-holder {
    margin-top: -161px;
}
.experience-section p{
    color: #010101;
    font-size: 19px;
    line-height: 36px;
    margin-top: 11px;
    margin-bottom: 36px;
    margin-left: 5px;
}

.after-testimonial{text-align: center; padding:68px 0 87px;}
.after-testimonial p{color: #010101; font-size: 19px; line-height: 45px; font-style: italic; padding:0 10px; position: relative; z-index: 2; }
.after-testimonial p::before {color: #b1b1b1; content: ""; font-family: fontawesome; font-size: 25px; margin-right: 5px; z-index: 1;  position: relative;}
.after-testimonial p::after {bottom: -10px; color: #b1b1b1; content: ""; font-family: fontawesome; font-size: 25px; position: relative; z-index: 1;}
.after-testimonial span{color: #e40014; font-size: 19px; line-height: 45px; padding:0 10px; text-transform: capitalize;}


.points-section{background-color: #f3f3f3; padding: 20px 0;}
.points-section ul {
    list-style-type: none;
    padding: 0;
}
.points-section li {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    padding: 20px 0;
}
.points-section li:last-child{ border-bottom: 0;}
.points-section li h3 {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    line-height: 64px;
}
.points-section li p {
    color: #010101;
    font-size: 19px;
    line-height: 36px;
}
.point-icons {
    border: 2px solid #d3d3d3;
    display: table;
    float: left;
    height: 72px;
    text-align: center;
    width: 96px;
}
.point-icons span{
    display: table-cell;
    vertical-align: middle;
}
.point-content {
    display: inline-block;
    float: right;
    width: 90%;
}


.c-info-frm {list-style-type: none; margin: 15px auto; max-width: 720px; padding: 0; text-align: center;}
.c-info-frm li{display: inline-block; font-size: 19px; color: #010101; margin: 20px;}
.c-info-frm li:last-child{margin-left: 120px;}
.c-info-frm li span{display: block; font-weight: 800; color: #e40014;}
.c-info-frm li span i {color: #a7a2a2; margin-right: 5px; display: block; font-size: 22px;}

/*============================================ After School Page ============================================*/

/*============================================ Kids Page ============================================*/
.kids-page-sec1 {
    padding-top: 23px;
}
.kids-page-sec1 h2 {
    margin-top: 70px;
    max-width: 545px;
}
.kids-page-sec1 h4 {
    color: #010101;
    font-size: 27px;
    line-height: 54px;
    margin-top: 28px;
}
.kids-page-sec1 p {
    color: #010101;
    font-size: 22px;
    line-height: 45px;
    margin-top: 22px;
}
.kids-p-from1 h2{max-width: 860px;}

.kids-testimonial-sec {
    background-color: #f7f7f7;
    text-align: center;
    position: relative;
    padding: 107px 0 40px;
}
.kids-testimonial-sec ul{
    padding: 0;
    list-style-type: none;
 }
.kids-testimonial-sec ul li{
    padding: 40px 0;
    border-bottom: 1px solid #dfdfdf;
}
.kids-testimonial-sec ul li:last-child{ border-bottom: 0;}
.kids-testimonial-sec h4 {
    font-size: 25px;
}

.kids-testimonial-sec p {
    font-size: 18px;
    line-height: 45px;
}

.kids-testimonial-sec span {
    color: #e40014;
    display: block;
    font-size: 19px;
    font-weight: 600;
    margin-top: 26px;
}
.b-4::before {
    background-image: url("../images/sayin-bef-kidspage.png");
    background-repeat: no-repeat;
    content: "";
    height: 680px;
    left: 0;
    margin-top: -250px;
    position: absolute;
    width: 240px;
}
.aftr::before {
    background-image: url("../images/sayin-aft-kidspage.png");
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    height: 670px;
    position: absolute;
    right: 0;
    width: 267px;
}

.kids-sec-even {
    background-color: #f5f5f5;
}


.small-heading{
    font-size: 36px;
    color: #ed1c24;
    line-height: 72px;
    font-weight: 900;
}
.kid-sec-para {
    color: #000;
    font-size: 19px;
    line-height: 36px;
    margin-bottom: 15px;
}
.kid-sec-para span{font-weight: 600;}
.fitness{
    padding: 70px 0;
}
.fitness::before {
    background-image: url("../images/program-aft-kidspage.png");
    content: "";
    height: 770px;
    margin-top: -170px;
    position: absolute;
    right: 100px;
    width: 600px;
}
.confidence h3 {
    margin-top: 117px;
}
.confidence .img-holder {
    margin-left: -147px;
}

.lesson {
    padding: 100px 0 0;
}
.lesson .img-holder {
    margin-top: -180px;
}
.defense {
    padding: 57px 0 90px;
    text-align: center;
}
.environment {
    padding: 73px 0 0;
}
.environment .img-holder {
    margin-top: -150px;
}

.get-startd h2 {
    width: 810px;
    display: inline-block;
    position: relative;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
.get-startd p {
    font-size: 19px;
    color: #000;
    margin: 29px auto 102px;
}
.get-startd{
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 84px 0 45px;
}

.get-startd form::before {
    background-image: url("../images/after-school-arrow.png");
    content: "";
    height: 160px;
    left: 210px;
    position: absolute;
    top: -179px;
    width: 100px;
}
.get-startd form {
    margin: 57px auto;
    position: relative;
}
.get-startd form input {
    border: 1px solid #bcbcbc !important;
    height: 65px;
    width: 336px !important;
    color: #838383;
    font-size: 18px;
}
.get-startd .form-group {
    margin: 0 15px;
}
.get-startd .btn {
    background-color: #e40014;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    height: 65px;
    width: 193px;
    border: 2px solid #e40014;
    margin: 0 15px;
}
.get-startd .btn:hover {
    background-color: #fff;
    color: #e40014;
    
}
.school-reg-form.last-kids{position: relative;}

.last-kids::before {background-image: url("../images/last-form-kidspage.png"); background-size: cover; content: ""; height: 510px; left: 0;
    position: absolute; width: 223px; bottom: 30px;}
/*============================================ Kids Page ============================================*/

/*============================================ Location Page ============================================*/
.location-form {
  background-position: center center;
  background-size: 100% auto;
  padding: 175px 0 97px;
}

.loc-form-holder{background-color: rgba(0,0,0,.74); padding: 33px; text-align: center; border-radius: 5px;}
.loc-form-head {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 28px;
  text-transform: uppercase;
}
.loc-form-holder select{appearance:none; -o-appearance:none; -ms-appearance:none; -moz-appearance:none; -webkit-appearance:none; width: 568px; height: 68px; border:none; border-radius: 5px; font-size: 18px; color:#838383; padding: 0 25px;}
.loc-btn{background-color: #e40014; height: 68px; margin-left: 36px; width:193px; font-weight: 600; font-size: 20px; color: #fff; border:2px solid #e40014;}
.loc-btn:hover{background-color:#fff; color: #e40014;}

.loc-content .img-holder{margin-left: 59px;}
.loc-content p {
  color: #010101;
  font-size: 19px;
  line-height: 45px;
  margin-bottom: 26px;
  margin-top: 11px;
}



/*============================= Location Inner Page =============================*/
.loc-content-inner {
  border: 8px solid #e8e8e8;
}
.inner-location {
  display: block;
  line-height: 65px !important;
  margin-top: 11px !important;
}
/*============================= Location Inner Page =============================*/


/*============================================ Location Page ============================================*/

/*============================================ News Page ============================================*/
.news-p-intro{font-size: 20px; font-weight: 500; line-height: 36px;}
.news-post-info > ul li {
  border-left: 1px solid;
  display: inline-block;
  font-size: 16px;
  line-height: 15px;
  list-style-type: none;
  padding: 0 10px;
}
.news-post-info li i {
  margin-right: 5px;
}
.news-post-info li:first-child {
  border: medium none;
  padding-left: 0;
}

.n-post .a-post-content p a{ color:#ed1c24}

/*============================================ News Page ============================================*/



/*============================================ Adult Page ============================================*/
.contrast-bg{background-color: #f7f7f7;}
.adult-testimonials {padding-top: 55px; display: inline-block; width: 100%;}
.testimonials-adult {border-bottom: 1px solid #dfdfdf; padding: 53px 0; text-align: center;}
.testimonials-adult.last {border-bottom: 0;}
.testimonials-adult p {color: #010101; font-size: 19px; line-height: 46px; font-style: italic; margin-bottom: 15px;}
.testimonials-adult h2 {margin-bottom: 44px;}
.adult-name {color: #e40014; font-size: 19px; font-weight: 600;}
.adult-p-sections {padding: 116px 0 44px; position: relative; display: inline-block; width: 100%;}
.pos {position: absolute; z-index: 9;}
.adult-p-sections .gen-heading {line-height: 74px;}
.adult-p-sections h4 {font-size: 30px; margin: 30px 0 22px;}
.adult-p-sections p {font-size: 19px; line-height: 32px; margin-bottom: 21px;}

.wht-u-get {left: -180px; top: -193px;}
.wht-u-get img {
  width: 140%;
}


.pos.slf-defense {
  left: -225px;
  max-width: 387px;
  top: -177px;
}


/*============================================ Adult Page ============================================*/


/*============================================ News Inner Page ============================================*/
.about-post.inner-news-content {
  background-color: transparent;
}
.inner-news-content .a-post-content img {
  float: left;
}




/* 11 july Changes*/

.about-post.inner-news-content {
 background-color: transparent;
}
.inner-news-content .a-post-content img {
 float: left;
}
.result {
 color: #f00;
 left: 0;
 padding: 5px;
 position: absolute;
 right: 0;
 font-weight:600;
 font-size:15px;
}
/*============================================ News Inner Page ============================================*/





@media (min-width: 1500px) {
.container {
       width: 1470px;
   }
}
@media (max-width: 1499px) {
 
    
/*============================================ Home Page ============================================*/
    .navbar-header {
    height: 150px;
}
.navbar .navbar-brand img {
    width: 150px;
}
.navbar .nav {
    margin-top: 52px;
}
.navbar .nav a {
    font-size: 16px;
    margin: 0 15px;
    padding: 15px 10px;
}

.nav .menu-search input {
    background-size: 20px auto;
}
.nav .menu-search input:focus + button {
    background-color: transparent;
    border: 0 none;
    display: block;
    position: absolute;
    right: -6px;
    top: 1px;
}
.nav .menu-search input:focus + button img{
    width:20px;
}
    
.banner-content {
    padding: 142px 0 300px;
}
.banner h1 {
    display: inline-block;
    font-size: 62px;
    line-height: 55px;
}
.banner h1 span {
    font-size: 41px;
    font-weight: 400;
    line-height: 10px;
}
.banner a {
     font-size: 18px;
    margin-top: 70px;
    max-width: 410px;
}
.banner a::after {
    height: 115px;
    right: -90px;
    top: -70px;
    width: 80px;
    background-size: cover;
}
.banner img {
    left: -80px;
    max-width: 700px;
    position: absolute;
    top: -50px;
}

.box-section {
    margin-top: -200px;
}
.red-box {
    height: 290px;
    margin-bottom: 62px;
}
.red-box h2 {
    font-size: 30px;
    padding-top: 42px;
}
.red-box p {
    font-size: 16px;
    margin-top: 60px;
    max-width: 320px;
}
.red-box > img {
   max-width: 205px;
    right: 5px;
    width: 100%;
}
.red-box a::after {
    background-size: cover;
    height: 19px;
    margin-left: 12px;
    top: 18px;
    width: 36px;
}
.red-box a {
    font-size: 22px;
    padding: 11px 26px;
}


.why-us h1::after {
    bottom: -20px;
}
.why-us h1 {
    font-size: 36px;
    margin-top: 15px;
}
.why-us p {
    font-size: 16px;
    margin-top: 55px;
 }
.why-us a {
    font-size: 16px;
    max-width: 300px;
    padding: 15px;
    top: -70px;
}


.left-part img {
    margin-top: -80px;
    max-width: 490px;
}
.testimonial-main h2, .news-main h2 {
    font-size: 36px;
    margin-left: 60px;
    margin-top: 57px;
}
.testimonial-main p {
    font-size: 14px;
    line-height: 26px;
    margin-left: 60px;
    margin-top: 30px;
}
.news-main li::before {
    font-size: 20px;
 }
.news-main ul li {
    margin-top: 20px;
    max-width: 430px;
    padding-left: 35px;
}
.news-main ul li a {
    font-size: 14px;
 }

.video-slider a {
    font-size: 30px;
}

.find form label {
    font-size: 30px;
}
.find form input[type="text"] {
    height: 45px;
    margin-left: 10px;
    width: 440px;
}

.find form button {
    height: 45px;
    width: 60px;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
}
.find form button i{
    -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
}
    
    .find form button:hover i{
        transform: translate(50px, 0);
        -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
    }
    .find form button span:before{
        content: "\f178";
        font-family: fontawesome;
        color:#e40014;
        margin-top: 1px;
        position: absolute;
     }
    .find form span i {
    margin: 0 20px;
}
footer ul {
    padding: 0 0 80px;
}
footer ul li {
    margin: 45px 16px;
    -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
}
footer ul li a {
    font-size: 16px;
    -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
}
    
.copy-rgt p {
    font-size: 11px;
    margin-top: 6px;
}
.foot-logo {
    bottom: -30px;
    left: 0;
    right: 0;
}
.foot-logo img {
    max-width: 120px;
}
footer .copy-rgt ul li a {
    display: block;
    padding: 3px;
}
footer .copy-rgt ul li a {
    font-size: 15px;}
.copy-rgt ul li {
    height: 30px;
    width: 30px;
}

/*============================================ Home Page ============================================*/
    
    
/*============================================ Kids B'day Page ============================================*/
    
    .kids-b {
    background-size: cover;
    height: auto;
}
.kids-b h1 {
    font-size: 34px;
    line-height: 51px;
    padding: 120px 0;
}

.kid-b-odd h2, .kid-b-even h2 {
    font-size: 36px;
    line-height: 49px;
}
.party p {
    font-size: 15px;
    line-height: 26px;
    margin-top: 25px;
}
    
.party .img-responsive{
        position: relative;
        z-index: 2;
    }    
.party::before {
   height: 230px;
    width: 125px;
}
.party::after {
    height: 225px;
    width: 125px;
}

.people-views p {
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
}
.people-views::before {
   background-size: cover;
    height: 570px;
    width: 172px;
}
.people-views::after {
     background-size: cover;
     height: 640px;
  top: -20px;
    width: 170px;
    z-index: 0;
}


.party-price p {
    font-size: 15px;
}

.price-form {
    max-width: 746px;
    
}
.info-price li {
    font-size: 15px;
}
.party-price::after {
    background-size: cover;
    height: 400px;
    width: 370px;
    z-index: 0;
}
    
.find.ready a {
    font-size: 26px;
    padding: 8px;
    width: 266px;
}
/*============================================ Kids B'day Page ============================================*/
    
/*============================================ About Page ============================================*/    
    .about-post h2{font-size:44px;}
.about-post .a-post-content p{font-size:14px; line-height:26px;}
.about-post .a-post-content img{max-width:340px;}
.about-red-box h2{padding-top:18px; margin-left:21px; font-size:30px;}
.widget-rgtside-title{ font-size:24px; padding:22px 0;}
.about-widget-body .item p{line-height:26px; font-size:16px;}
.news-post li a{ font-size:16px; padding:15px; line-height:22px;}
.news-post li a span{font-size:13px;}

.abt-page-form h1{ font-size:44px;}
.abt-page-form p{ font-size:16px; line-height:28px;}
.abt-page-form form .btn{max-width:359px; padding:15px;}

.about-post .a-post-content p .p-intro{ font-size: 18px;}
/*============================================ About Page ============================================*/   
    
    
    
/*============================================ After School Page ============================================*/
    .gen-heading {
    font-size: 36px;
    line-height: 45px;
}
.after-school p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
}

.school-reg-form .form-group {
    margin: 0 5px;
}
.school-reg-form form input {
    font-size: 18px;
    height: 45px;
    width: 296px !important;
}
.school-reg-form .btn {
    font-size: 18px;
    height: 45px;
    width: 180px;
    margin: 0 5px;
}


.school-reg-form .gen-heading {
    width: 800px;
}
.best-decision p {
    color: #010101;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 26px;
    margin-top: 11px;
}
   .after-school .img-holder, .best-decision .img-holder{max-width: 500px;}
    
.experience-section p {
    font-size: 16px;
    line-height: 26px;
}
.after-testimonial p {
     font-size: 15px;
    line-height: 34px;}
.after-testimonial span {
    font-size: 16px;}
.points-section li h3 {
    font-size: 19px;
    line-height: 54px;
}
.points-section li p {
    font-size: 16px;
    line-height: 26px;
}
.points-section {
    background-color: #f3f3f3;
    padding: 50px 0 0;
}
.points-section h2 {
    margin-bottom: 20px;
    width: 780px;
}
.school-reg-form form::before {
    background-size: cover;
    height: 130px;
    top: -139px;
    width: 80px;
}

.school-reg-form{padding: 64px 0 25px;}
    
/*============================================ After School Page ============================================*/
    

/*============================================ Kids Page ============================================*/
    
    
.kids-page-sec1 h2 {
    margin-top: 30px;
    max-width: 395px;
}
.kids-page-sec1 h4 {
     font-size: 21px;
    line-height: 34px;
    margin-top: 20px;
}
.kids-page-sec1 p {
    font-size: 18px;
    line-height: 34px;
    margin-top: 22px;
}

.b-4::before {
    background-size: cover;
     height: 570px;
    margin-top: -170px;
    width: 200px;
}
.kids-testimonial-sec ul li{
    padding: 40px 80px;
    }
.kids-testimonial-sec h4 {
    font-size: 19px;
}
.kids-testimonial-sec p {
    font-size: 14px;
    line-height: 26px;
}
.kids-testimonial-sec span {
    font-size: 14px;
    margin-top: 16px;
}

.fitness::before {
    background-size: cover;
    height: 650px;
    margin-top: -170px;
    width: 500px;
}
.fitness {
    padding: 50px 0;
}
.kid-sec-para {
     font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}
.confidence .img-holder {
    margin-left: -60px;
}
.aftr::before {
    background-size: cover;
    height: 490px;
     width: 197px;
}
.lesson .img-holder {
    margin-top: -140px;
}
.lesson .small-heading{line-height: 45px;}
    .get-startd p{font-size:16px; margin: 19px auto 82px;}
    
.last-kids::before {height: 442px; width: 193px;}

.c-info-frm {list-style-type: none; margin: 15px auto; max-width: 700px; padding: 0; text-align: center;}
.c-info-frm li{display: inline-block; font-size: 16px; color: #010101; margin: 20px;}
.c-info-frm li:last-child{margin-left: 120px;}
.c-info-frm li span{display: block; font-weight: 800; color: #e40014;}
.c-info-frm li span i {color: #a7a2a2; margin-right: 5px; display: block; font-size: 22px;}   
/*============================================ Kids Page ============================================*/    
    
    
/*============================================ Location Page ============================================*/
 .loc-form-holder select {
  height: 48px;
  padding: 0 15px;
  width: 468px;
}
.loc-btn {
  height: 48px;
  margin-left: 16px;
  width: 153px;
}
.loc-form-head {
  font-size: 24px;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.location-form {
    background-repeat: no-repeat;
  padding: 100px 0 67px;
}
    
.loc-content p{line-height: 36px;}

/*============================= Location Inner Page =============================*/
.inner-location {
  line-height: 45px !important;
}
/*============================= Location Inner Page =============================*/
    
/*============================================ Location Page ============================================*/    
    
}